.advantages {
  &__list {
    display: flex;
  }

  &__item {
    width: 270px;

    &:not(:last-child) {
      margin-right: 30px;
    }
  }

  &__icon-wrapper {
    display: flex;
    height: 120px;
    justify-content: center;
    align-items: center;
    margin-bottom: 30px;

    background-color: #f5f4fa;
    border-radius: 4px;
  }

  &__item-title {
    margin-bottom: 10px;

    font-size: 14px;
    line-height: 1.14;
    text-transform: uppercase;
  }

  &__item-description {
    font-size: 14px;
    line-height: 1.71;
    color: $secondary-text-color;
  }
}
