.clients {
  &__list {
    display: flex;
    justify-content: center;
  }

  &__item:not(:last-child) {
    margin-right: 30px;
  }

  &__link {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 170px;
    height: 92px;

    color: #afb1b8;
    border: 1px solid #afb1b8;
    border-radius: 4px;

    transition: color $transition-duration $transition-timing-function,
      border-color $transition-duration $transition-timing-function;

    &:hover,
    &:focus {
      color: $accent-color;
      border-color: $accent-color;
    }
  }

  &__icon {
    fill: currentColor;
  }
}
