.footer {
  padding: 60px 0;

  text-align: center;
  background-color: #2f303a;

  &__logo {
    margin-bottom: 20px;
  }

  &__address-container {
    margin-bottom: 60px;
  }

  &__subscription-head {
    margin-bottom: 20px;

    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    text-transform: uppercase;
    color: $primary-white-color;
  }
}

@media screen and (min-width: 768px) {
  .footer {
    &__container {
      display: flex;
      align-items: baseline;
      flex-wrap: wrap;
    }

    &__address-container {
      margin-right: 165px;
      margin-left: 76px;
    }

    &__subscription-container {
      margin: 0 auto;
    }
  }
}

@media screen and (min-width: 1200px) {
  .footer {
    text-align: start;

    &__container {
      display: flex;
      align-items: baseline;
      flex-wrap: nowrap;
    }

    &__address-container {
      margin-bottom: 0;
      margin-left: 0;
      margin-right: 70px;
    }

    &__subscription-container {
      margin: 0;
    }
  }
}
