.header {
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #ececec;

  &__container {
    display: flex;
    align-items: center;
  }

  &__nav {
    display: flex;
    align-items: center;
  }

  &__logo {
    margin-right: 93px;
  }
}
