.hero {
  max-width: 1600px;
  margin: 0 auto;
  padding: 200px 0;

  background-color: #c4c4c4;
  background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
    url('../images/hero/background-image.jpg');
  background-position: 50% 50%;
  background-size: cover;
  background-repeat: no-repeat;

  &__title {
    max-width: 696px;
    margin: 0 auto 30px;

    font-weight: 900;
    font-size: 44px;
    line-height: 1.36;
    text-align: center;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    color: $primary-white-color;
  }
}
