@media screen and (max-width: 1199px) {
  .services {
    display: none;
  }
}

@media screen and (min-width: 1200px) {
  .services {
    padding-top: 0;
    padding-bottom: 94px;

    &__list {
      display: flex;
      flex-wrap: wrap;
      margin-left: -1 * $card-set-gap;
      margin-top: -1 * $card-set-gap;
    }

    &__item {
      position: relative;
      flex-basis: calc(100% / 3 - #{$card-set-gap});
      margin-left: $card-set-gap;
      margin-top: $card-set-gap;
    }

    &__label {
      position: absolute;
      left: 0;
      bottom: 0;
      width: 100%;
      padding: 27px 0;

      font-weight: 700;
      font-size: 14px;
      line-height: 1.14;
      text-align: center;
      text-transform: uppercase;

      color: $primary-white-color;
      background-color: rgba(47, 48, 58, 0.8);
    }
  }
}
