.team {
  background-color: #f5f4fa;

  &__item:not(:last-child) {
    margin-bottom: $card-set-gap;
  }
  &__container {
    background-color: $primary-white-color;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
      0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 0px 0px 4px 4px;
    overflow: hidden;
  }

  &__content {
    padding: 30px 0 24px;
  }

  &__title {
    margin-bottom: 10px;

    font-weight: 500;
    font-size: 16px;
    line-height: 1.19;
    text-align: center;
  }

  &__description {
    margin-bottom: 16px;

    font-size: 16px;
    line-height: 1.19;
    text-align: center;
    color: $secondary-text-color;
  }
}

@media screen and (min-width: 768px) {
  .team {
    &__list {
      display: flex;
      flex-wrap: wrap;
      margin-left: -1 * $card-set-gap;
      margin-top: -1 * $card-set-gap;
    }

    &__item {
      flex-basis: calc(100% / 2 - #{$card-set-gap});
      margin-left: $card-set-gap;
      margin-top: $card-set-gap;
      margin-bottom: 0;
    }
  }
}
@media screen and (min-width: 1200px) {
  .team {
    &__list {
      display: flex;
      flex-wrap: wrap;
      margin-left: -1 * $card-set-gap;
      margin-top: -1 * $card-set-gap;
    }

    &__item {
      flex-basis: calc(100% / 4 - #{$card-set-gap});
      margin-left: $card-set-gap;
      margin-top: $card-set-gap;
      margin-bottom: 0;
    }

    &__content {
      padding: 30px 0;
    }
  }
}
