.works-list {
  &__item {
    margin-bottom: $card-set-gap;
  }

  &__link {
    display: block;
    transition: box-shadow $transition-duration $transition-timing-function;

    &:hover,
    &:focus {
      box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
        1px 4px 6px rgba(0, 0, 0, 0.16);
    }
  }

  &__thumb {
    position: relative;
    overflow: hidden;
  }

  &__overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    padding: 77px 24px;
    overflow: auto;

    font-size: 18px;
    line-height: 1.56;
    color: $primary-white-color;
    background-color: rgba(33, 150, 243, 0.9);

    transform: translateY(100%);
    transition: transform $transition-duration $transition-timing-function;

    .works-list__link:hover &,
    .works-list__link:focus & {
      transform: translateY(0%);
    }
  }

  &__content {
    padding: 20px 24px;

    border: 1px solid #eee;
    border-top: none;
  }

  &__title {
    margin-bottom: 4px;

    font-size: 18px;
    line-height: 2;
    letter-spacing: 0.06em;
    color: $primary-text-color;
  }

  &__description {
    font-size: 16px;
    line-height: 1.88;
    color: $secondary-text-color;
  }
}

@media screen and (min-width: 768px) {
  .works-list {
    display: flex;
    flex-wrap: wrap;
    margin-left: -1 * $card-set-gap;
    margin-top: -1 * $card-set-gap;

    &__item {
      flex-basis: calc(100% / 2 - #{$card-set-gap});
      margin-left: $card-set-gap;
      margin-top: $card-set-gap;
      margin-bottom: 0;
    }

    &__overlay {
      padding: 49px 24px;
    }
  }
}

@media screen and (min-width: 1200px) {
  .works-list {
    &__item {
      flex-basis: calc(100% / 3 - #{$card-set-gap});
    }

    &__overlay {
      padding: 63px 24px;
    }
  }
}
