.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.2);
  z-index: 500;
  transition: opacity $transition-duration $transition-timing-function,
    visibility $transition-duration $transition-timing-function;
}

.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}
