@media screen and (max-width: 767px) {
  .menu {
    display: none;
  }
}

@media screen and (min-width: 768px) {
  .menu {
    display: flex;

    & .menu__link_current-page {
      color: $accent-color;

      &::after {
        content: '';
        position: absolute;
        width: 100%;
        height: 4px;
        left: 0;
        bottom: 0;

        border-radius: 2px;
        background-color: $accent-color;
      }
    }

    &__item {
      position: relative;

      &:not(:last-child) {
        margin-right: 50px;
      }
    }

    &__link {
      display: block;
      padding: 32px 0;

      font-weight: 500;
      font-size: 14px;
      line-height: 1.14;
      letter-spacing: 0.02em;
      color: inherit;

      transition: color $transition-duration $transition-timing-function;

      &:hover,
      &:focus {
        color: $accent-color;
      }
    }
  }
}
