.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 450px;
  height: 609px;
  padding: 40px;
  background-color: $primary-white-color;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;

  transform: translate(-50%, -50%) scale(1);
  transition: transform $transition-duration $transition-timing-function;

  .backdrop.is-hidden & {
    transform: translate(-50%, -50%) scale(1.1);
  }

  &__close-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 8px;
    right: 8px;
    width: 30px;
    height: 30px;
    padding: 0;

    color: $primary-black-color;
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 50%;
    background-color: $primary-white-color;
    cursor: pointer;

    transition: color $transition-duration $transition-timing-function;

    &:hover,
    &:focus {
      color: $accent-color;
    }
  }

  &__close-icon {
    fill: currentColor;
  }
}

@media screen and (min-width: 1200px) {
  .modal {
    width: 528px;
    height: 580px;
  }
}
