.subscription-form {
  display: flex;
  flex-direction: column;
  align-items: center;

  &__field {
    margin-bottom: 20px;
  }

  &__input {
    width: 93.75vw;
    height: 50px;
    padding: 0 16px;

    font-size: 16px;
    line-height: 1.25;
    color: rgba(255, 255, 255, 0.6);
    border: 1px solid rgba(255, 255, 255, 0.3);
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
    border-radius: 4px;
    background-color: transparent;

    &::placeholder {
      font-size: 16px;
      line-height: 1.25;
      color: rgba(255, 255, 255, 0.6);
    }
  }

  &__btn {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 28px;
  }

  &__icon {
    margin-left: 10px;
    fill: $primary-white-color;
  }
}

@media screen and (min-width: 768px) {
  .subscription-form {
    &__input {
      width: 450px;
    }
  }
}

@media screen and (min-width: 1200px) {
  .subscription-form {
    display: flex;
    flex-direction: row;
    align-items: center;

    &__input {
      width: 358px;
    }

    &__field {
      margin-bottom: 0;
      margin-right: 12px;
    }
  }
}
